@media screen and (max-width: 1250px) {
    .container {
        padding: 0 15px;
    }
    .frame1__content-text {
      max-width: 48vw;
      max-height: 38vw;
      padding-left: 7vw;
      top: 12.87%;
      bottom: 12.87%;
      color: #2F2E2E;
      padding-right: 11vw;
    }
    .frame1-h1 {
      font-size: calc((100vw - 420px)/(1440 - 420) * (51 - 20) + 20px);
      padding-top: 9.5vw;
    }
    .frame1-p {
      font-size: calc((100vw - 420px)/(1440 - 420) * (32 - 12) + 12px);;
    }
    .frame3__flex {
      flex-direction: column;
    }
    .frame3__flex-image {
        order: 1;
        display: block;
        margin: 0 auto;
    }
    .frame3__flex-text {
      padding: 0;
      display: block;
      margin: 0 auto;
      margin-bottom: 50px;
      text-align: center;
    }
    .frame4-h2 {
      text-align: center;
    }
    .frame4__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
      }
    .frame4__grid-item {
        justify-self: center;
    }
    .frame4__grid-item:nth-child(3), .frame4__grid-item:nth-child(6) {
        justify-self: center;
    }
    .frame5__grid {
      grid-template-columns: repeat(1, 1fr);
      gap: 80px;
      justify-items: center;
    }
    .frame5__grid-item:last-child {
      margin-left: -60px;
    }
    .frame5__grid-item:last-child img {
      margin-right: 29px;
    }
}

/* ---------------------------------------------------- */

@media screen and (max-width: 800px) {
  .menu__list, .menu__search-icon {
    display: none;
  }
  .menu_icon {
    display: block;
  }
  .frame2__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .frame3__flex-image {
    max-width: 735px;
    height: auto;
  }
  .frame3__flex-image img {
    width: 100%;
  }
  .frame4__grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .footer__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  .footer__grid-archiweb {
    margin: 0 auto;
  }
  .footer__grid-articles {
    margin: 0 auto;
  }
  .footer__grid-location {
    grid-column: 1/3;
    margin: 0 auto;
    padding-left: 0;
  }
}

/* ------------------------------------------------- */

@media screen and (max-width: 580px) {
  .frame1__content-text {
    position: relative;
    display: block;
    background-color: rgba(244, 246, 245, 0.90);
    color: #2F2E2E;
    padding: 0 15px;
    max-width: 100%;
  }
  .frame1-h1, .frame1-p {
    display: block;
    padding-top: 20px;
    max-width: 100%;
    text-align: center;
  }
  .frame1-p {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .frame5__grid {
    gap: 50px;
  }
  .frame5__grid-item:last-child {
    margin: 0 auto;
  }
  .frame5__grid-item {
    flex-direction: column;
  }
  .frame5__grid-item img {
    max-width: 150px;
    display: block;
    margin: 0 auto;
  }
  .frame5__grid-item:last-child img {
    margin: 0 auto;
  }
  .frame5__h3, .frame5__p {
    text-align: center;
  }
}

/* ------------------------- */

@media screen and (max-width: 420px) {
  .frame2__grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .frame4__grid-item img {
    max-width: 344px;
    width: 100%;
  }
  .footer__grid {
    display: block;
  }
  .footer__grid-location {
    padding-bottom: 20px;
  }
}